.signin {
  position: relative;
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/785c7470-5017-4447-8845-b7eeaa9f2070/US-en-20210201-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin__container {
  max-width: 100%;
  padding: 70px 100px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  color: white;
  z-index: 1;
  text-align: center;
}

.signin__container > form {
  display: grid;
  flex-direction: column;
  max-width: 100%;
}

.signin__container > form > h1 {
  margin-bottom: 25px;
}

.signin__container > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  width: 250px;
}

.signin__container > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 12px;
}

.signin__gray {
  color: gray;
}

.signin__link {
  color: white;
}

.signin__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.getStarted__gradient {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0) 6%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.signin__error {
  color: #e50914;
  font-size: 16px;
  max-width: 250px;
}
